{% extends 'base.html.twig' %}

{% block title %}Abstimmungen{% endblock %}

{% block body %}
    <h1>Abstimmungen</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titel</th>
                    <th>Beschreibung</th>
                    <th>Wahlberechtigte</th>
                    <th>Status</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            {% for poll in polls %}
                <tr>
                    <td>{{ poll.id }}</td>
                    <td>{{ poll.title }}</td>
                    <td>{{ poll.description|u.truncate(25, '...') }}</td>
                    <td>{{ poll.voters|length }}</td>
                    <td>{{ include('poll/_status.html.twig', {'poll': poll}) }}</td>
                    <td>
                        {% if not poll.started %}
                            <form method="post" action="{{ path('poll_start', {'id': poll.id}) }}" onsubmit="return confirm('Bist du sicher, dass du diese Abstimmung starten willst?');">
                                <a href="{{ path('poll_edit', {'id': poll.id}) }}" class="btn btn-secondary">Bearbeiten</a>
                                <input type="hidden" name="_token" value="{{ csrf_token('start' ~ poll.id) }}">
                                <button class="btn btn-success">Starten</button>
                            </form>
                        {% else %}
                            {% if not poll.stopped %}
                                <form method="post" action="{{ path('poll_stop', {'id': poll.id}) }}" onsubmit="return confirm('Bist du sicher, dass du diese Abstimmung beenden willst?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('stop' ~ poll.id) }}">
                                    <button class="btn btn-danger">Beenden</button>
                                </form>
                            {% else %}
                                <a href="{{ path('poll_result', {id: poll.id}) }}">Ergebnisse anzeigen</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Keine Einträge gefunden.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('poll_new') }}" class="btn btn-success">Neue Abstimmung erstellen</a>
{% endblock %}
