<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Perikles</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbarContent"
                        aria-controls="mainNavbarContent"
                        aria-expanded="false"
                        aria-label="Navigation ein-/ausblenden">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Einloggen</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('poll_index') }}">Abstimmungen</a>
                            </li>
                            {% if is_granted('ROLE_VOTER_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('voter_index') }}">Wähler</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_USER_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_index') }}">Benutzer</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile') }}">Meine Daten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Ausloggen</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" style="margin-top: 30px;">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <div class="text-center p-3 footer">
            <strong>Perikles</strong> &ndash; Abstimmungssystem Copyright &copy; 2020 Eric Haberstroh
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
