{% extends 'base.html.twig' %}

{% block title %}W채hlerliste{% endblock %}

{% block body %}
    <h1>W채hlerliste</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-Mail-Adresse</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for voter in voters %}
            <tr>
                <td>{{ voter.id }}</td>
                <td>{{ voter.name }}</td>
                <td><a href="mailto:{{ voter.email }}">{{ voter.email }}</a></td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('voter_edit', {'id': voter.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Keine Eintr채ge gefunden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('voter_new') }}">Neuen W채hler anlegen</a>
{% endblock %}
