{% extends 'base.html.twig' %}

{% block title %}Benutzer{% endblock %}

{% block body %}
    <h1>Benutzer</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>E-Mail-Adresse</th>
                    <th>Name</th>
                    <th>Rollen</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td>{{ user.name }}</td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                                {% if role != 'ROLE_USER' %}
                                <li>{{ role | trans }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('user_edit', {'id': user.id}) }}">Bearbeiten</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Keine Einträge gefunden.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('user_new') }}" class="btn btn-success">Neuen Benutzer erstellen</a>
{% endblock %}
